// Simplex 3.1.1
// Bootswatch
// -----------------------------------------------------

.btn-shadow(@color) {
  #gradient > .vertical-three-colors(lighten(@color, 3%), @color, 6%, darken(@color, 3%));
  filter: none;
  border: 1px solid darken(@color, 10%);
}

// Navbar =====================================================================

// Buttons ====================================================================

.btn {
  font-family: @headings-font-family;
}

.btn-default,
.btn-default:hover {
  .btn-shadow(@btn-default-bg);
}

.btn-primary,
.btn-primary:hover {
  .btn-shadow(@btn-primary-bg);
}

.btn-success,
.btn-success:hover {
  .btn-shadow(@btn-success-bg);
}

.btn-info,
.btn-info:hover {
  .btn-shadow(@btn-info-bg);
}

.btn-warning,
.btn-warning:hover {
  .btn-shadow(@btn-warning-bg);
}

.btn-danger,
.btn-danger:hover {
  .btn-shadow(@btn-danger-bg);
}

// Typography =================================================================

body {
  font-weight: 200;
}

// Tables =====================================================================

th {
  color: @headings-color;
}

// Forms ======================================================================

legend {
  color: @headings-color;
}

.has-warning {
  .help-block,
  .control-label {
    color: @brand-danger;
  }

  .form-control,
  .form-control:focus {
    border-color: @brand-danger;
  }
}

.has-error {
  .help-block,
  .control-label {
    color: @brand-primary;
  }

  .form-control,
  .form-control:focus {
    border-color: @brand-primary;
  }
}

.has-success {
  .help-block,
  .control-label {
    color: @brand-success;
  }

  .form-control,
  .form-control:focus {
    border-color: @brand-success;
  }
}

// Navs =======================================================================

.pager {
  a {
    color: @headings-color;
  }

  a:hover,
  .active > a, {
    border-color: @brand-primary;
    color: #fff;
  }

  .disabled > a {
    border-color: @pager-border;
  }
}

// Indicators =================================================================

// Progress bars ==============================================================

// Containers =================================================================

body{
  background: url(/images/grid_noise.png) repeat;
  // background: #E8E9EE;
}

.gradient-flat{
    border-top: 1px solid  @border-color;
    background: linear-gradient(to bottom, #EDEDED 0%,#fcfcfc 100%); 
}
footer{
   text-align: center;
    margin-bottom: 50px;
    margin-top: 10px;
}
.site-size{
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}
#site{
  box-shadow: 0px 0px 12px rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0.3);
  background-color: @body-bg;
  
  .site-size;
}
#site > div.container{
}

.container{
  width: 96%;
  margin-left: 2%%;
  margin-right: 2%%;
}


@media (min-width: 450px){
    #site{
      margin-top: 40px;
    }

    .container{
      width: 94%;
      margin-left: 3%%;
      margin-right: 3%%;
    }
}


// Map angular class to bootstrap

ng-valid{
  .has-success
}
ng-invalid{
  .has-error
}
ng-pristine{
  .has-warning
}
ng-dirty{
  .has-warning
}

.panel{
  border: none;
}
#loader{
  background: rgba(100,100,100,0.5);
  position: absolute;
  width: 100%;
  min-height: 80px;
  text-align: center;
  z-index: 1000;
}
a.tablink{
  color:@gray-light;
}
a.tablink:hover, a.tablink.current{
    color:white;
}
.out{
  color: #6B8089;
}

/*#welcome{
  background: url(/images/fili.png) no-repeat 150px 80px;
}*/
#moreinfo .caret{
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
#moreinfo.collapsed .caret{
  -ms-transform: rotate(270deg); /* IE 9 */
  -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
  transform: rotate(270deg);
}
#topNav{
  margin-bottom: 0px;
  padding-bottom: 0px;
  li.current{
    background: @gray-lighter;
  }
  a{
    color: @text-color;
  }
  .navbar-right a{
    border-left:  1px solid  @border-color;
  }
}

.member-social {
  text-align: center;
    a{
      color: @text-color;
      margin-left: 8px;
      margin-right: 8px;
  }
  a:hover{
    text-decoration: none;
  }
}
.center{
  text-align: center;
}
.bold{
  font-weight: bold;
}
h3.course{
  margin-bottom: 30px;
}
.coming_soon{
  text-decoration:  line-through;
}
.ultra_small_size{
  font-size: 75%;
}
.project{
  
  .site{
    margin-bottom: 30px;
    margin-top: -30px;
  }

  margin-top: 30px;
  margin-bottom: 60px;

  h4{
    margin-bottom: 20px;
    .center;
  }

  .blockquote-reverse{
    margin-top: 5px;
    padding: 0px 10px;
    margin-right: 20px;
    margin-bottom: 5px;
  }
}
.interests li{
  margin-bottom: 10px;
}