<img src="images/header.jpg" width="100%" alt="">

<h3 class="center bold">About me</h3>


<div class="container">
	<p>I'm curently living in <a href="https://www.google.ch/maps/place/San+Jose,+CA/@37.2970155,-121.8174129,11z/data=!4m2!3m1!1s0x808fcae48af93ff5:0xb99d8c0aca9f717b">San Jose, CA, USA</a>, where I work at Cisco as an Intern Data Analyst. But I'm originally from a <a href="https://www.google.ch/maps/place/Saint-George/@46.521555,6.2566299,13z/data=!3m1!4b1!4m2!3m1!1s0x478c4fa2b62f06ef:0xb25c92c152d95276">tiny village</a> in Switzerland. </p>

	<p>
		If I speak fluently <b>english</b>, I kept a nice <b>french accent</b>. <em>Maybe I should mention here that Switzerland has no <span style="text-decoration:underline;">swiss language</span>, however the country is split in three main regions: 60% speaks german, 30% french, 6% italian, and the rest speaks some others weird languages. </em> I have therefore some notions of german.
	</p>	

	<p>
		I will graduate in June from the <a href="http://www.epfl.ch">École polytechnique fédérale de Lausanne (EPFL)</a>, one of the two Swiss Federal Institutes of Technology in Switzerland. From the school auditorium, we can see the picturesque Alps.
	</p>
</div>

<img src="images/mountain.png" width="100%" alt="">

<h3 class="center bold">Hobby</h3>
<div class="container">
	<p>
		If I don't have a <b tooltip="top" title="Nothing to do with American football">rugby</b> match during the weekend, you won't probably see me. I seek solitude in remote hikes. Sometimes I paint, sometimes I photograph. Most of the time I try to create stuff. 
	</p>
</div>


<img src="images/interests.png" style="margin-top: 20px;" alt="">

<h3 class="center bold">Interests</h3>
<div class="container">
	<p>
		All my life I suffered to <b>choose one side of my personality</b>:  the graphical side or the technical side. I'm looking for opportunities where I can conjugate both sides. 
	</p>
	<p>
		My domain of interest are:
		<ul class="interests">
			<li><b>Data mining</b>, in which my experience as a designer helps to create better <b>Data Visualizations</b>, my knowledge in Databses is sensible, and I love developping <b>Machine Learning</b> algorithms.</li>
			<li><b>Signal Processing</b>, in which I spent most of my studies. Particularly, I appreciate the <a href="http://bigwww.epfl.ch/publications/vetterli0201.pdf">Finite Rate of Innovation Theory</a></li>
			<li><b>Graph Theory</b></li>
		</ul>
		 
	</p>
</div>

<div class="gradient-flat" style="height: 14px; margin-top: 20px; margin-bottom: 30px;"></div>

<h4 class="center bold">Programming language</h4>
<div class="container">
	<p class="center">
		<small>(You better <a href="http://github.com/yannikmesserli">go on my github </a>and check out my project)</small>
	</p>
	<p>
		<div class="row small">
			<div class="col-sm-4">
				<ul class="tick">
					<li>HTML</li>
					<li>CSS</li>
					<li>PHP</li>
					<li>Javascript</li>
				</ul>
			</div>
			<div class="col-sm-4">
				<ul class="tick">
					
					<li>Java / Scala</li>
					<li>C++</li>
					<li>Action Script</li>
					<li>Shell/ Bash</li>
				</ul>
			</div>
			<div class="col-sm-4">
				<ul class="tick">
					<li>Python</li>
					<li>Ruby</li>
					<li>Matlab</li>
					<li tooltip="top" title="I needed theses dots to have an even number of items">...</li>
				</ul>
			</div>
		</div>
	</p>
</div>
<div class="gradient-flat" style="height: 14px; margin-top: 20px; margin-bottom: 20px;"></div>

<div class="container center">
	Why the <em>blacksmith</em> theme? Because I dreamed of becoming a <em>blacksmith</em> when I was a child. 
</div>

<div style="height: 40px;"> </div>
