<div class="gradient-flat" style="height: 14px;"></div>


<img src="/images/strategize_small.png" style="margin-top: 50px;"  widivh="100%" alt="">

 <section class="container" style="margin-top: -260px;" >
<h1 class="center bold">
	Academic Project
</h1>
<div class="subtitle center" style="margin-top:-10px;">Done at during my cursus at EPFL or abroad</div>
	


	<div style="height:160px;"></div>
</section>

<!-- <div class="gradient-flat" style="height: 14px;margin-top:0px;"></div> -->



<section class="container">
 <h3 class="center bold course"><span class="red">Graduate</span> projects</h3>
  <section class="project">
  	<h4 class="bold">TrailHead</h4>
      <div class="pull-left text-right blockquote-reverse">
        <div class="ultra_small_size" style="font-weight: normal;">Since the 1st September 2012</div>
        <div class="ultra_small_size" style="font-weight: normal; margin-top: 20px;">
          <a href="http://people.epfl.ch/rudiger.urbanke" target="_blank">Prof. Urbanke</a>
        </div>
        <div class="ultra_small_size" style="font-weight: normal;">
          <a href="http://people.epfl.ch/jonas.arnfred" target="_blank">Jonas Arnfred</a>
        </div>
      </div>

      <dd>
        <p>Trailhead is a web application that make easier for people attending scientific conference to find presentations that they are interested in. They can search for people or topics and browse connections between articles. When they have created their own schedule they can download it as a pdf or add it to a calendar app. <a href="http://trailhead.heroku.com">Visit the app</a>. </p>
        <p>The interface was under my responsability. The challenge was to build a user-friensectiony tool to browse the graph. The graph is rendering were based on <a href="http://d3js.org/">D3</a>, a javascript library for creating SVG graphics. The interface rely on <a href="https://github.com/unscriptable/curl">Curl</a>, <a href="http://radio.uxder.com">Radio</a> and many more. </p>

        <p>Check the code out on <a href="http://github.com/traill">Github</a> for a full overview.</p>
      </dd>
  </section>
  <section class="project">
  	<h4 class="bold">Inpainting of depth map</h4>
      <div class="pull-left text-right blockquote-reverse">
        <div class="ultra_small_size" style="font-weight: normal;">From the 20th February <br> 2012 to the 16th June 2012</div>
        <div class="ultra_small_size" style="font-weight: normal; margin-top: 20px;">
          <a href="http://lts4.epfl.ch/frossard" target="_blank">Prof. Frossard</a>
        </div>
        <div class="ultra_small_size" style="font-weight: normal;">
          <a href="http://lts4.epfl.ch/maugey" target="_blank">Thomas Maugey</a>
        </div>
      </div>

      <dd>
        <p>A commonly adopted data representation for multi-view video transmission is based on texture and depth description. In other words, some reference views transmit a color image and its corresponding depth image. An important issue in this technic is the filling of the missing regions in the projected image due to occlusions in the scene. While the existing algorithms mainly consider the inpainting of the projected texture images, few techniques hansectione the problem of depth image filling.</p>
        <p>
          The task of my <a href="http://people.epfl.ch/nicolas.jorns/admindata?lang=&cvlang=">teammate <!-- Nicolas --></a> and I was to design a depth inpainting technic. We compared a classical approach through modifications of the <a href="http://www.tecgraf.puc-rio.br/~scuri/inf1378/pub/bertalmi.pdf">M. Bertalmio</a> and <a href="http://research.microsoft.com/pubs/67276/criminisi_tip2004.pdf">A. Criminisi</a> approach with a designed one specific to the depth map problem. The later has been designed by segmenting the image into regions supoosed to be described by simple plane equation. Then, the coefficients of the plane are recovered by the statistics of the region and the region is inpainted.
        </p>
        <p>Check the matlab code on <a href="https://github.com/yannikmesserli/Depth_inpainting">Github</a>.</p>
      
      </dd>
  </section>


  <section class="project">
  	<h4 class="bold">Retrieval of color matrix </h4>
      <div class="pull-left text-right blockquote-reverse">
        <div class="ultra_small_size" style="font-weight: normal;">From the 19th September <br> 2011 to the 16th January 2012</div>
        <div class="ultra_small_size" style="font-weight: normal; margin-top: 20px;">
          <a href="http://people.epfl.ch/rd.hersch" target="_blank">Roger Hersch</a>
        </div>
      </div>

      <dd>
          <p>The aim of this project was to characterize a digital camera by experimentally finding its gamma correction and a relationship between the CIE-XYZ color space. Such a relationship is important in theory to test quality of the color reproduction for the camera model, and in practice because it let more flexibility to post-process image with home-made tools.</p>
          <p>In the first part, I proposed a general method in order to estimate the coefficients of the matrix as well as the gamma value. In the experiment part of the project, I used my digital reflex Nikon D3100 to acquire data and to test my algorithm.</p>
          <p>Read the <a href="#" class="coming_soon">full report</a>. <em>Coming soon</em></p>
      </dd>
  </section>

  <section class="project">
  	<h4 class="bold">Master project</h4>
      <div class="pull-left text-right blockquote-reverse">
        <div class="ultra_small_size" style="font-weight: normal;">From the 19th September <br> 2011 to the 16th January 2012</div>
        <div class="ultra_small_size" style="font-weight: normal; margin-top: 20px;">
          <a href="http://people.epfl.ch/mark.pauly" target="_blank">Mark Pauly</a>
        </div>
        <div class="ultra_small_size" style="font-weight: normal;">
          <a href="http://lgg.epfl.ch/~bouaziz/" target="_blank">Sofien Bouaziz</a>
        </div>
      </div>

      <dd>

          <p>Constrained Local means (CLM) have been proposed with a lot of promise to solve the problem of de- formable model fitting. It predicts landmarks positions through two models: a point distribution model (PDM) that ensures a valid shape, and some templates that describe a local image response of a landmark. The first model constraints the second. However CLM has given poor results under some difficult light con- ditions or under strong noise.</p>

          <p>
             I proposed to Prof. Pauly to improve the templates by using the Discrete Bochner Laplacian instead of the color texture. It is a derivation for a discrete Laplacian introduced by<a href="http://math.rice.edu/~forman/ric.ps"> Robin Forman </a>through the so-called &rdquo;<em>Bochner Method</em>&rdquo;. The 2D case is derivated in Eli and Emil’s <a href="http://webee.technion.ac.il/people/semil/RicciKenes.pdf">paper</a> on which I worked during my stay at the technion (See below). My task was to implement it and to ran a lot tests to compare technics.
          </p>
           <p> Read the <a href="" class="coming_soon">full report</a>. <em><small>Coming soon</small></em></p>

      </dd>
  </section>
</section>

<div class="gradient-flat" style="height: 14px;margin-top:20px; margin-bottom: 20px;"></div>

 <section class="container">
 	<h3 class="center bold course"><span class="red">Under</span>graduate projects</h3>

    <section class="project">
    	<h4 class="bold">Project at the Technion</h4>
        <div class="pull-left text-right blockquote-reverse">
          <div class="ultra_small_size" style="font-weight: normal;">From the 24th July <br> to the 16th September 2011</div>
          <div class="ultra_small_size" style="font-weight: normal; margin-top: 20px;">
            <a href="http://visl.technion.ac.il/eliap/" target="_blank">Eli Appleboim</a>
          </div>
          <div class="ultra_small_size" style="font-weight: normal;">
            <a href="http://webee.technion.ac.il/people/semil/" target="_blank">Emil Saucan</a>
          </div>
        </div>

        <dd>
            <p>The subject of my internship was topics related to the Discrete Bochner Laplacian. It is a derivation for a discrete Laplacian introduced by<a href="http://math.rice.edu/~forman/ric.ps"> Robin Forman </a>through the so-called &rdquo;<em>Bochner Method</em>&rdquo;. The 2D case is derivated in Eli and Emil’s <a href="http://webee.technion.ac.il/people/semil/RicciKenes.pdf">paper</a>. </p>
            <p>
              The first task was to compare the Voxel’s bochner laplacian and the image’s one. It has been done by computing for different weight values for beta, the smooth factor of the Bochner formulas. <!-- The weight of the laplacian are $w(e_0) = \sqrt{\beta + (h_1 - h_2)^2} $ where $h_i$ are a pixel value in the image. I tested the algorithm for different beta value. -->
            </p>
            <p>
              I proposed also to use the Bochner Laplacian to improve of the Non-local Means algorithm. The idea was to denoise pixels values with same curvature score so that the denoising process do not smooth the image. <a href="#" class="coming_soon">Read more.</a><em><small>Coming soon</small></em>

            </p>
            <p> I also used the curvature to reconstruct 3D object from 2D images sets. </p>
            <p> There is many reason we want to compute the bochner laplacian on 3D object. Combinatorial Bochner laplacian along a triangulation has also been developped and tested. Finally I proposed different weights computation. 
            </p>
        </dd>
    </section>

 		<section class="project">
 			<h4 class="bold">Bachelor project</h4>
  			<div class="pull-left text-right blockquote-reverse">
  				<div class="ultra_small_size" style="font-weight: normal;">From the 20th Septembre <br>2010 to the 8th January 2011</div>
          <div class="ultra_small_size" style="font-weight: normal; margin-top: 20px;">
            <a href="http://people.epfl.ch/pierre.vandergheynst" target="_blank">Prof. Vandergheynst</a>
          </div>
          <div class="ultra_small_size" style="font-weight: normal;">
            <a href="http://people.epfl.ch/emmanuel.dangelo" target="_blank">Emmanuel D'Angelo</a>
          </div>
        </div>

  			<dd><p>Non-Local Means have become very popular in image denoising. Its goal is to remove a noise from an image. Prof. Buades introduced a <a href="http://www.ipol.im/pub/art/2011/bcm_nlm/">clever method</a> of averaging by finding similar pixels in a portion of the image. This similarity is evaluated by comparing a whole patches around pixels, not only their value, and comparing the euclidean distance. </p>

        <p>Conceptually simple, this algorithm gives really good but time consumption is however a major drawback. The goal of my semester project was to implement NLM with a specific data structure in order to accelerate the processus. The &laquo;<a href="http://books.nips.cc/papers/files/nips21/NIPS2008_0806.pdf">spectral hashing</a>&raquo; of Professor Yair Weiss has been used to compute a score independently of the pixel position and I have been able to store it to avoid redundancy computations. Implemented with openCV, the results was surprisingly fast. Moreover the architecture is easily used in concurrency to speed up the process.</p>
         <p>
            <a href="#" class="coming_soon">See more...</a> <em><small>Coming soon</small></em>
          </p>
      </dd>
		</section>

		<section class="project">
			<h4 class="bold">Project in the d&m lab</h4>
  			<div class="pull-left text-right blockquote-reverse">
  				<div class="ultra_small_size" style="font-weight: normal;">From the 19th July <br> 2010 to the 20th August 2010</div>
          <div class="ultra_small_size" style="font-weight: normal; margin-top: 20px;">
            <a href="http://people.epfl.ch/jeffrey.huang" target="_blank">Prof. Huang</a>
          </div>
          <div class="ultra_small_size" style="font-weight: normal;">
            <a href="#" target="_blank">Guillaume Labelle</a>
          </div>
        </div>

  			<dd><p>The aim of the laboratory is to link architecture and computer science world. Guillaume Labelle has developped a processing framework for architects (Processing is an open source programming language and environment to create images, animations, and interaction).</p> 

          <div>The purpose of this parametric library is to build forms easily with the strength of programming. The library was recently ported to Scala, an efficient JVM langague. In that environment, my task was to (re) design the functional reactive core. The paradigm of the <a href="http://en.wikipedia.org/wiki/Functional_reactive_programming">functional reactive programming </a>(FRP) is to keep the link between variables assignment so that dependencies value are re-evaluated at each change.
          </div>
         <p>
            <a href="http://anar.ch">http://anar.ch</a> <br/>
            <a href="http://www.processing.org/">http://www.processing.org/</a> <br/>
            <a href="http://ldm.epfl.ch/">http://ldm.epfl.ch/</a>
          </p>
        </dd>
		</section>


 </section>


