

<div id="welcome" class="container" style="text-align:center;">
  
	<h4 style="margin-top: 40px; margin-bottom: -10px;"><em>Hi there! my name is </em> </h4> <h1> <b>Yannik Messerli</b></h1>
	<h4>I'm a websmith.</h4>

  <div style="height:20px;"></div>


  
  
  </div>
<!-- 
  <div class="well" style="border-radius:0px; padding-left: 30px; padding-right: 30px;">


   
  </div>

  <div class="container" style="text-align:center;">
  <p>
    We remove all fraud and volatility risk. With your bank account details, we will directly deposit the billed amount into your bank account. Start accepting bitcoins right now!
  </p>
  <p> <b>Lay back! We handle all the complexities.</b></p>
</div>
	
  

  <div class="container" style="text-align:center;">
 -->

	
	<div style="height:120px;"></div>

  <div style="text-align:center;">I'm busy re-forging my website</div>
	
		
		<!-- 	
		
		  
    <div style="text-align:left;">Billacoin is still in the early stages of development, but sign up here to apply for the beta program:</div>
    <form action="" method="POST" role="form" name="createBeta" ng-submit="create_beta()">

    <div class="messages">
        <div class="alert alert-danger" ng-class="message.tags" ng-repeat="message in messages" ng-bind-html="message.text "></div>
    </div>

    <div class="input-group" style="margin-top: 15px;margin-bottom: 15px;">
          <input type="email" class="form-control" id="email" value="" placeholder="Your Email" ng-model="fbeta.email">
          <span class="input-group-btn" >
                <button class="btn btn-primary" type="submit">Register</button>
            </span>

    </div>
    </form>

    <div style="text-align:left;">Already enrolled in the beta? <a href="#/login">Sign up here</a></div>
		
	
<div style="height:40px;"></div> -->
<div style="height:40px;"></div> 
	<footer></footer>
</div>
