<div class="gradient-flat" style="height: 14px;"></div>

<div id="welcome" class="container" style="text-align:center; background: url(/images/dev.png) no-repeat 20px 60px;">
  
	<h5 style="margin-top: 40px; margin-bottom: -20px;"><em>Welcome on the personal website of</em> </h5> <h1 class="bold"> Yannik Messerli</h1>


  <div style="height:150px;"></div>


  
  
  </div>
<!-- 
  <div class="well" style="border-radius:0px; padding-left: 30px; padding-right: 30px;">


   
  </div>

  <div class="container" style="text-align:center;">
  <p>
    We remove all fraud and volatility risk. With your bank account details, we will directly deposit the billed amount into your bank account. Start accepting bitcoins right now!
  </p>
  <p> <b>Lay back! We handle all the complexities.</b></p>
</div>
	
  

  <div class="container" style="text-align:center;">
 -->

	

  <div style="text-align:center; margin-left: 30px; margin-right: 30px;">
    <p>I’m a <b>websmith</b>. I <em>think</em>, <em>design</em>, and <em>code</em> user-driven applications with pixel-perfect interface.</p>
    <p> I've tested my <b>creativity</b> in a lot of different sector, like <em>Data Visualization</em>, <em>Machine Learning</em> and <em>Digital Signal Processing</em>.</p>
  </div>

<div class="gradient-flat" style="height: 14px; margin-top: 50px; margin-bottom: 8px;"></div>

	<div class="member-social" style="font-size:18px;">
    <a href="http://github.com/yannikmesserli/" tooltip="top" title="Check my code on github">
      <i class="fa fa-github-alt"></i>
    </a>
    <a href="https://www.linkedin.com/in/yannikmesserli" tooltip="top" title="Check my profile on linkedin">
      <i class="fa fa-linkedin-square"></i>
    </a>
    <a href="mailto:yannik@myre.ch" tooltip="top" title="Mail me?">
      <i class="fa fa-envelope"></i>
    </a>
  </div>



		
		<!-- 	
		
		  
    <div style="text-align:left;">Billacoin is still in the early stages of development, but sign up here to apply for the beta program:</div>
    <form action="" method="POST" role="form" name="createBeta" ng-submit="create_beta()">

    <div class="messages">
        <div class="alert alert-danger" ng-class="message.tags" ng-repeat="message in messages" ng-bind-html="message.text "></div>
    </div>

    <div class="input-group" style="margin-top: 15px;margin-bottom: 15px;">
          <input type="email" class="form-control" id="email" value="" placeholder="Your Email" ng-model="fbeta.email">
          <span class="input-group-btn" >
                <button class="btn btn-primary" type="submit">Register</button>
            </span>

    </div>
    </form>

    <div style="text-align:left;">Already enrolled in the beta? <a href="#/login">Sign up here</a></div>
		
	
<div style="height:40px;"></div> -->
<div style="height:20px;"></div> 

