
<div class="gradient-flat" style="height: 21px;margin-top: -21px;"></div>

<div class="container">

    <div class="messages">
        <div class="alert" ng-class="message.tags" ng-repeat="message in messages" ng-bind-html="message.text "></div>
    </div>



    <form action="" method="POST" role="form" name="login" ng-submit="execute_login()">
	
		<div class="form-group" ng-class="{'has-error': login.name.$invalid && login.name.$dirty}">
            <label for="name">Username</label>
            <input type="input" class="form-control" name="name" placeholder="Enter username" ng-model="name" required>
        </div>
        <div class="form-group" ng-class="{'has-error': login.name.$invalid && login.name.$dirty}">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password"  ng-model="password" required>
        </div>

      <button type="submit" class="btn btn-primary">Login</button>
      
    </form>
</div>

<div style="height:40px;"></div>
<footer></footer>



