<div class="gradient-flat" style="height: 14px;"></div>

<div style="text-align:right;">
<img src="/images/project.png" style="margin-top: 30px; max-width:420px;"  width="100%" alt="">
</div>

 <section class="container" style="margin-top: -270px;" >
<h1 class="center bold">
	Websites
</h1>
<div class="subtitle center" style="margin-top:-10px;">Client websites done when I worked as a freelance</div>
	


	<div style="height:180px;"></div>
</section>





<section class="project">
		
	
	<img class="site" src="images/bionic.png" style="margin-left: -40px;" alt="">


	<h4 class="bold">The Human Bionic Project </h4>

	<div class="container">
		
		

		<div class="pull-left text-right blockquote-reverse ultra_small_size">
			<div class="website"> bionic.media.mit.edu <i class="fa fa-globe" style="margin-left: 5px;"></i> </div>
			<div class="calendar">Released on April 2013 <i class="fa fa-calendar-o" style="margin-left: 5px; vertical-align:1px;"></i> </div>
		</div>


		<p>"The Human Bionic Project begs for the fundamental redefinition of disability, illness, and disease as we have known it throughout history. It dares us to imagine the seamless interaction between the human being and machines. This interactive learning platform enables the user to visualize and learn about the comprehensive advances in human repair and enhancement that can be achieved with current technology." David Sengeh</p>
	</div>

	<div class="gradient-flat" style="height: 14px; margin-top: 20px;"></div>


</section>



<section class="project">
		
	
	<img class="site" src="images/lcollection.png" style="margin-left: -40px;" alt="">


	<h4 class="bold">Showcase of beautiful hotels with <span>LCollection.</span></h4>

	<div class="container">
		
		

		<div class="pull-left text-right blockquote-reverse ultra_small_size">
			<div class="website"> www.lcollection.ch <i class="fa fa-globe" style="margin-left: 5px;"></i> </div>
			<div class="calendar">Released on 1th Feb 2010 <i class="fa fa-calendar-o" style="margin-left: 5px; vertical-align:1px;"></i> </div>
		</div>


		<p><b>LCollection</b> is about promoting luxurious hotels in Switzerland. My client needed a website showing both the high standing of her activity, as well as the professionalism and the identity of Switzerland. In addition, she needed a tool to communicate with her visitors and keep in touch with them. We built a newsletter system.</p>
	</div>

	<div class="gradient-flat" style="height: 14px; margin-top: 20px;"></div>


</section>




<section class="project">
		
	
	<img class="site" style="margin-left: -40px;" src="images/daisy.png" alt="">


	<div class="container">
		
		<h4 class="bold">Tango's passion in a <span>Retro style</span></h4>

		<div class="pull-left text-right blockquote-reverse ultra_small_size">
			<div class="website"> www.tangobarcos.ch <i class="fa fa-globe" style="margin-left: 5px;"></i> </div>
			<div class="calendar">Released on 1th March 2011 <i class="fa fa-calendar-o" style="margin-left: 5px; vertical-align:1px;"></i> </div>
		</div>

		<p>Daisy Barcos is an author, composer, and performer of modern jazz and tango, a colorful music. The design reflected this warm and magic music in a retro style. The system let the artist change her texts and add her samples music in a simple interface.</p>
	</div>

	<div class="gradient-flat" style="height: 14px; margin-top: 20px;"></div>

</section>

		


<section class="project">
	
	

	<img class="site" style="margin-left: -90px;" src="images/bernard.png" alt="">
	
	<div class="container">
		
		<h4 class="bold">From bits to <span>leaves!</span></h4>

		<div class="pull-left text-right blockquote-reverse ultra_small_size">
			<div class="website"> www.taille-fruitiere.ch <i class="fa fa-globe" style="margin-left: 5px;"></i> </div>
			<div class="calendar">Released on 20th April 2012 <i class="fa fa-calendar-o" style="margin-left: 5px; vertical-align:1px;"></i> </div>
		</div>

		<p>Bernard writes articles about pruning trees, talk about growing trees, and lives in a chalet. He needed a simple system to promote his courses about "la taille fruitière" along a registration system that will manage course subscriptions. </p>
	</div>


	

</section>